<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="tests/bootstrap.php">
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Octopuce/Tests/Acme</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/Octopuce/Acme</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
